<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Flex</title>
</head>
<body>
    <header>    
      <h1>CRISTIANO RONALDO</h1>
    </header>
    <main>
        <h1>SOBRE CR7</h1>
        <p>Cristiano Ronaldo continua a ser uma figura influente tanto no futebol quanto fora dele, com um impacto duradouro na cultura esportiva global.</p>
        <img src="img/nike.webp">
        <p>Cristiano Ronaldo dos Santos Aveiro, conhecido simplesmente como Cristiano Ronaldo, é um dos jogadores de futebol mais famosos e talentosos da história. Nascido em 5 de fevereiro de 1985, em Funchal, Madeira, Portugal, Ronaldo é amplamente reconhecido por sua habilidade técnica, velocidade e capacidade de marcar gols.

          <br> <br>  Aqui estão alguns pontos notáveis sobre ele:
            
           <br> <br> Carreira Internacional: Ronaldo começou sua carreira profissional no Sporting CP antes de se transferir para o Manchester United em 2003. <br> Durante seu tempo no United, ele ganhou três títulos da Premier League e uma Liga dos Campeões da UEFA. Em 2009, ele se transferiu para o Real Madrid, onde se tornou o maior artilheiro da história do clube e conquistou quatro Ligas dos Campeões. <br> <br>Mais tarde, jogou pela Juventus na Serie A e, recentemente, retornou ao Manchester United e depois foi para o Al Nassr, na Arábia Saudita.
            Recordes e Conquistas: Cristiano Ronaldo é um dos jogadores mais premiados do futebol. Ele ganhou múltiplos títulos da FIFA Ballon d'Or, que são dados ao melhor jogador do mundo. Além disso, ele é o único jogador a ter marcado em cinco Copas do Mundo e em cinco Ligas dos Campeões da UEFA. <br> <br>
            
            Seleção Portuguesa: Ronaldo também é um jogador crucial para a seleção de Portugal, com a qual venceu o Campeonato Europeu de 2016 e a Liga das Nações da UEFA em 2019.</p>
    </main>
    <footer>
        <section>
            <h1>Ballon D'Or</h1>
            <img src="img/ballondor.jpg" alt="">
            <p>Cristiano Ronaldo conquistou em sua carreira cinco Bolas de Ouro. Ele ganhou os prêmios em 2008, 2013, 2014, 2016 e 2017.  </p>
           <div>
            <a href="https://www.instagram.com/cristiano/" target="_blank">Instagram</a>
           </div>
        </section>
        <section>
            <h1>Champions League</h1>
            <img src="img/champions.webp" alt="">
            <p>Primeiro jogador a conquistar cinco vezes a UEFA Champions League, Ronaldo é também quem fez mais gols e deu assistências na competição.</p>
           <div>
            <a href="https://youtu.be/eE1NEt7jyA4?si=ZgbJlntwWPlb6pNr" target="_blank">Highlights</a>
           </div>
        </section>
        <section>
            <h1>Eurocup</h1>
            <img src="img/euro.webp" alt="">
            <p> O seu feito mais significativo ocorreu no torneio de 2016, realizado em França, onde levou Portugal ao seu primeiro grande troféu internacional.</p>
           <div>
            <a href="https://www.cristianoronaldo.com/#cr7" target="_blank">Site oficial</a>
           </div>
        </section>
    </footer>
    <script src="script.js"></script>
</body>
</html>