    .table {
    width: 710px;
    height: 600px;
    border: 1px solid black;
    margin-left: 320px;
}
.line {
    float: left;
}
.date {
    width: 710px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
    font-size: 50px;
}
.day {
    height: 100px;
    width: 100px;
   border: 1px solid black ;
   font-size: 20px;
   vertical-align: top;
}
.blue {
    background-color: lightseagreen;
}
.red {
    background-color: indianred;
}
.green {
    background-color: lawngreen;
}
.yellow {
    background-color: gold;
}
.purple {
    background-color: violet;
}
.beige {
    background-color: burlywood;
}
.pink {
    background-color: pink;
}
.goldenrod {
    background-color: goldenrod;
}
.darkred  {
    background-color: darkred ;
}
.seagreen {
    background-color: mediumseagreen;
}
.lightcoral {
    background-color: lightcoral;
}
th {
    background-color: rgb(241, 65, 65);
}